
h1,h2,h3{
    font-weight: 600;
    line-height: 125%;
    letter-spacing: -1px;
    color: var(--white);
}
h1{
   
    font-size: 4.8rem;
    color: var(--gray-colors-100) !important;
    
}
h2{
font-size: 3.2rem;
}
h3{
    font-size: 2.4rem;
}
   
.btn-primary{
    display: inline-block;
    background-color: var(--brand-color-pink);
    padding: 1.2rem 3.4rem;
    font-weight: 600;
    letter-spacing: -0.01rem;
    color: var(--gray-colors-100);

}
.menu-item{
    display: inline-block;
    background-color: var(  --gray-colors-50);
    padding: 1.2rem 2.4rem;
    font-size: 1.5rem;
    line-height: 105%;
    letter-spacing: -0.01em;
    color: var( --gray-colors-400);


}